[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/rider/Desktop/Steam.desktop]
row=3
col=0

[/home/rider/Desktop/steam.desktop]
row=7
col=0

[/home/rider/Desktop/dark-souls-15.desktop]
row=6
col=0

[/home/rider/Desktop/firefox.desktop]
row=4
col=0

[/home/rider/Desktop/Ardour_5.8.0.desktop]
row=5
col=0

[/home/rider/Desktop/sublime_text.desktop]
row=8
col=0

[/home/rider/Desktop/brave-bin.desktop]
row=0
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/rider]
row=2
col=0

